<div id="tasks" class="ui padded segment">
    <h2 class="ui header">
        <i class="check square icon"></i>
        <div class="content">Tasks</div>
    </h2>
    <% if (user && user.role === 'Instructor') { %>
    <div id="btn-createTask" class="ui red labeled icon button">
        <i class="plus icon"></i>
        Create New Task
    </div>
    <% } %>
    <hr>
    <br>
    <div id="taskList" class="ui styled accordion">
        <% tasks.forEach(task => { %>
        <%- include('taskCard', {task}) %>
        <% }) %>
    </div>
    <% if (tasks.length === 0) { %>
    <div id="taskEmptyNotice" class="empty-notice">
        <h4 class="ui icon header">
            <i class="help icon"></i>
            <div class="content">
                No tasks yet
            </div>
        </h4>
    </div>
    <% } %>
</div>

