<div id="tasks" class="ui padded segment">
    <h2 class="ui header">
        <i class="check square icon"></i>
        <div class="content">Tasks</div>
    </h2>
    <div id="btn-createTask" class="ui red labeled icon button">
        <i class="plus icon"></i>
        Create New Task
    </div>
    <hr>
    <br>
    <div id="taskList" class="ui styled accordion">
        <% tasks.forEach(task => { %>
        <%- include('taskCard', {task}) %>
        <% }) %>
    </div>
</div>

