<div id="modal-assign" class="ui modal tiny">
    <i class="close icon"></i>
    <div class="header">
        You got a message!
    </div>
    <div class="content">
        <img class="ui circular image" src="">
        <h4></h4>
    </div>
    <div class="actions">
        <div class="ui black deny button">
            Got it!
        </div>
    </div>
</div>