<div class="column">
    <div class="ui card link fluid classroomCard" data-id=<%= classroom._id %>>
    <div class="content">
        <span class="right floated"
              data-tooltip="Requires Password"
              data-position="top left"
              data-inverted="">
            <i class="lock icon"></i>
        </span>
        <div class="header"><%= classroom.name %></div>
        <div class="meta">
            <span> <i class="user icon"></i> <%= classroom.createdBy %> </span>
        </div>
    </div>
    <div class="extra content">
        <div class="ui teal small progress" data-value=0 data-total=<%= classroom.expectedAttendance %>>
            <div class="bar"></div>
            <div class="label"></div>
        </div>
    </div>
</div>
</div>