<div class="card">
    <div class="content">
        <i class="right floated lock icon"></i>
        <div class="header"><%= classroom.name %></div>
        <div class="meta">
            <span> <%= classroom.tasks.length %> tasks </span>
        </div>
    </div>
</div>