<div class="card">
    <div class="content">
        <span class="right floated"
              data-tooltip="Requires Password"
              data-position="top left"
              data-inverted="">
            <i class="lock icon"></i>
        </span>
        <div class="header"><%= classroom.name %></div>
        <div class="meta">
            <span> <%= classroom.tasks.length %> tasks </span>
        </div>
    </div>
</div>