<div id="modal-createClassroom" class="ui modal small">
    <i class="close icon"></i>
    <div class="header">
        Create New Classroom
    </div>
    <div class="content">
        <form id="form-createClassroom" class="ui form">
            <div class="field">
                <label>Name</label>
                <input type="text" name="name">
            </div>
            <div class="field">
                <label>Password</label>
                <input type="text" name="password">
            </div>
            <div class="field">
                <label>Expected Attendance</label>
                <input type="number" name="expectedAttendance">
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui black deny button">
            Cancel
        </div>
        <div class="ui positive right labeled icon button">
            Create
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>