<div id="modal-createTask" class="ui modal small">
    <i class="close icon"></i>
    <div class="header">
        Create New Task
    </div>
    <div class="content">
        <form id="form-createTask" class="ui form">
            <div class="field">
                <label>Name</label>
                <input type="text" name="name">
            </div>
            <div class="field">
                <label>Description</label>
                <textarea rows="5" name="description"></textarea>
            </div>
            <div class="field">
                <label>HTML Boilerplate</label>
            </div>
            <div id="codepadHtmlBoilerplate"></div>
            <br>
            <div class="field">
                <label>JavaScript Boilerplate</label>
            </div>
            <div id="codepadJsBoilerplate"></div>
        </form>
    </div>
    <div class="actions">
        <div class="ui black deny button">
            Cancel
        </div>
        <div class="ui positive right labeled icon button">
            Create
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>