<div class="ui massive red top attached borderless inverted menu">
    <div class="item active">
        <img class="ui image avatar" src="<%= user ? user.displayPhoto : '' %>">
        <strong>
            &nbsp;&nbsp;&nbsp;<%= `${user ? user.firstName : 'Not Logged In'} ${user ? user.lastName : ''}` %></strong>
        <span>&nbsp;&nbsp;<%= user ? '(' + user.role + ')' : '' %></span>
    </div>
    <div class="right menu">
        <a class="item" href="/logout"><i class="sign out icon"></i>Logout</a>
    </div>
</div>