<div class="special card fluid studentCard" data-studentid=<%= student._id %>>
    <div class="dimmable image">
        <div class="ui inverted dimmer">
            <div class="content">
                <div class="center">
                    <div class="ui basic button btn-viewer">See Code</div>
                    <div class="ui basic button btn-assign">Assign</div>
                </div>
            </div>
        </div>
        <img src="<%= student.displayPhoto %>">
    </div>
    <div class="content">
        <div class="header"><%= student.firstName %></div>
    </div>
    <div class="extra content">
        <div class="ui indicating small progress">
            <div class="bar"></div>
            <div class="label"></div>
        </div>
    </div>
</div>
