<div class="taskCard" data-taskid="<%= task._id %>">
    <div class="title">
        <i class="dropdown icon"></i>
        <%= task.name %>
        <div class="ui yellow label points">
            <i class="star icon"></i> <%= task.points %>
        </div>
        <div class="ui indicating small progress">
            <div class="bar"></div>
            <div class="label"></div>
        </div>
    </div>
    <div class="content">
        <p class="description transition hidden"><%= task.description %></p>
    </div>
</div>