<div>
    <div class="title">
        <i class="dropdown icon"></i>
        <%= task.name %>
    </div>
    <div class="content">
        <p class="transition hidden"><%= task.description %></p>
    </div>
</div>