<div class="taskCard ui fluid card" data-taskid="<%= task._id %>">
    <div class="content">
        <strong><%= task.name %></strong>
        <div class="ui yellow label points">
            <i class="star icon"></i> <%= task.points %>
        </div>
    </div>
</div>