<div class="ui large top attached red inverted menu">
    <div class="item">
        <img class="ui image avatar" src="<%= user.displayPhoto %>">
        <span><%= `${user.firstName} ${user.lastName}` %></span>
    </div>
    <div class="right menu">
        <a class="item" href="/logout">Logout</a>
    </div>
</div>