<div class="ui large top attached inverted menu">
    <div class="active item">
        <img class="ui image avatar" src="<%= user.displayPhoto %>">
        <strong><%= `${user.firstName} ${user.lastName}` %></strong>
    </div>
    <div class="right menu">
        <a class="item" href="/logout">Logout</a>
    </div>
</div>