<table style="border: 1px solid">
    <tr>
        <td>UserId</td>
        <td>TaskId</td>
        <td>Code</td>
    </tr>
    <% for (let s of submissions) { %>
    <tr>
        <td><%= s.userId %></td>
        <td><%= s.taskId %></td>
        <td><%= s.code %></td>
    </tr>
    <% } %>
</table>