body {
  /*background-color: #2b2b2b;*/
  background-color: whitesmoke;
}

/*Splash Page*/
.splash-container {
  background-color: #fa4f4e;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.splash-container .hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.splash-container .hero-container .title {
  height: 3em;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  font-size: 2em;
  line-height: 1.2em;
  color: whitesmoke;
  letter-spacing: 2px;
}

.splash-container .hero-container .title .highlight {
  padding: 0 5px;
  background-color: #2b2b2b;
}

.splash-container .hero-container img.hero {
  height: 200px;
  width: 200px;
}

.splash-container .hero-container .typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*Main Pages*/
.main-container {
  padding: 20px;
}

.empty-notice {
  margin-top: 60px;
  text-align: center;
}

#classrooms {
  min-height: 400px;
  position: relative;
}

#classrooms.segment {
  border-top: 4px solid #c50000;
}

#classrooms #btn-createClassroom {
  position: relative;
  top: -8px;
}

#tasks {
  min-height: 400px;
}

#tasks #btn-createTask {
  position: absolute;
  display: inline;
  top: 20px;
  right: 20px;
}

#tasks .taskCard {
  position: relative;
}

#tasks .taskCard .progress {
  margin: 10px 0 0 0;
}

#tasks .taskCard .description {
  white-space: pre-wrap;
}

#tasks .taskCard .status {
  position: absolute;
  right: 10px;
  top: 7px;
}

#modal-createTask #codepadHtmlBoilerplate, #modal-createTask #codepadJsBoilerplate {
  font-family: Consolas;
  font-size: 18px;
  height: 200px;
  width: 100%;
}

#students {
  min-height: 400px;
}

#students .progress {
  margin: 0;
}

#students .studentCard .btn-viewer {
  margin-bottom: 10px !important;
  width: 100px !important;
}

#students .studentCard .btn-assign {
  width: 100px !important;
}

#students .studentCard .content {
  padding-top: 10px;
  padding-bottom: 5px;
}

#students .studentCard .content .header {
  text-align: center;
}

#students .studentCard img {
  object-fit: cover;
  object-position: center;
  height: 150px;
}

@media (max-width: 480px) {
  #students .studentCard img {
    height: 100px;
  }
}

.assignMode .studentCard {
  cursor: pointer;
}

.assignMode .studentCard:hover {
  outline: 5px dashed green;
}

#classroom-banner {
  position: relative;
}

#classroom-banner #btn-back {
  font-size: 25px;
  line-height: 50px;
  cursor: pointer;
  position: absolute;
  top: 0;
  transition: transform 0.1s;
}

#classroom-banner #btn-back:hover {
  transform: scale(1.1);
}

#classroom-banner h3 {
  display: inline;
  margin-left: 45px;
}

#studentWorkspace .taskCard {
  background-color: whitesmoke;
}
#studentWorkspace .taskCard.current {
  background-color: white;
}

#studentWorkspace .taskCard.current .title {
  color: black;
  font-weight: bold;
}
#studentWorkspace .attached.segment {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#studentWorkspace .taskDescriptionCard {
  margin-top: 0;
}

#studentWorkspace .taskDescriptionCard.hide {
  display: none;
}
#studentWorkspace #btn-run {
  border-right: 1px solid #f0f0f0;
}

#codepads {
  padding: 0;
  position: relative;
}

#codepads #htmlLabel {
  position: absolute;
  top: 10px;
  left: calc(100% + 1rem + 1.2em - 13px);
  z-index: 10;
}

#codepads #jsLabel {
  position: absolute;
  z-index: 10;
  top: 310px;
  left: calc(100% + 1rem + 1.2em - 14px);
}

#codepads #codepadHtml, #codepads #codepadJs {
  font-family: Consolas;
  font-size: 18px;
  height: 300px;
  width: 100%;
}

#codepads #codepadHtml {
  border-bottom: 1px solid darkgrey;
}

#iframe {
  width: 100%;
  height: 700px;
}

#modal-assign .content {
  text-align: center;
}

#modal-assign .content img {
  display: inline;
}

/* Tiny Modal Width */
.ui.tiny.modal {
  width: 400px;
  margin: 0em 0em 0em -200px;
}

/*# sourceMappingURL=app.css.map */
